<br>
<div class="container">
  <form [formGroup]="tarFrml" (ngSubmit)="enviar(tarFrml.value)">
    <div class="form-row" class="padre">
      <div class="input-group">
        <input formControlName="tarea" type="text" class="form-control" placeholder="Descripción de la tarea" required>
        <div class="input-group-append">
          <button type="submit" [disabled]="tarFrml.invalid" class="btn btn-primary">Guardar</button>
        </div>
        <div class="not" *ngIf="tarFrml.get('tarea').hasError('required') && tarFrml.get('tarea').touched">
          ¡Este campo es requerido, introduzca la Descripción!</div>
      </div>
    </div>
    <br>
    <button *ngIf="cadena.length>0" type="submit" class="btn btn-danger" (click)="Eliminar()">Eliminar todo</button>
    <br>
    <br>
    <br>

    <div *ngFor="let cadena of cadena; let i = index" [attr.data-index]="i" class="container">
      <!--<app-enlistar-tareas [listarTareas]="[tareasn]"></app-enlistar-tareas>-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input" [disabled]="cadena.check"
              (click)="Inhabilitar(i)">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox" disabled value="{{cadena.tarea}}"
          disabled [ngClass]="cadena.check==true ? 'sub' : ''">
      </div>
    </div>

  </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
  <footer class="hijo">
    <h5>Ariana Yaneli López Ortiz</h5>
    <h5>Desarrollo de Aplicaciones Web</h5>
    <h5>ITIC. Iván Eduardo García Quintero</h5>
  </footer>
  <br>
  <br>
  <br>
  <br>
</div>