<br>
<div class="container">
<form>
<div class="form-row" class="padre">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Descripción de la tarea" required>
        <div class="input-group-append"> 
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div> 
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-danger">Eliminar todo</button>

  <br>
  <br>
  <br>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Lavar ropa" disabled>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Comprar ropa" disabled>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Pagar servicios" disabled>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tareas" disabled>
  </div>


  </form>
</div>
<br>
<br>
<div>
<footer class="hijo">
  <h5>Ariana Yaneli López Ortiz</h5>
  <h5>Desarrollo de Aplicaciones Web</h5>
  <h5>ITIC. Iván Eduardo García Quintero</h5>
</footer>
<br>
<br>
</div>